<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp_mes.erp.attendance.mapper.CommuteScheduleMapper">

	<!-- 출퇴근 기준시간 -->
	<select id="getCurrentSchedule" resultType="com.erp_mes.erp.attendance.dto.CommuteScheduleDTO">
		SELECT *
        FROM (
            SELECT 
                schedule_id,
                work_start_time,
                work_end_time,
                apply_start_date
            FROM commute_schedule
            ORDER BY apply_start_date DESC
        )
        WHERE ROWNUM = 1
	</select>
</mapper>