<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">
<head>
<!-- 개별페이지 CSS 영역 -->
<th:block layout:fragment="style">
	<link rel="stylesheet" th:href="@{/bootstrap/css/sb-admin-2.css}" />
</th:block>
</head>
<body>
	<th:block layout:fragment="content" style="overflow: hidden">
		<th:block sec:authorize="isAuthenticated()">
			<input type="hidden" id="currentEmpId"
				th:value="${#authentication.principal.empId}" />
			<input type="hidden" id="currentEmpName"
				th:value="${#authentication.principal.name}" />
			<input type="hidden" id="empDeptId"
				th:value="${#authentication.principal.empDeptId}" />
			<input type="hidden" id="empDeptName"
				th:value="${#authentication.principal.empDeptName}" />
		</th:block>
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-8">
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<div id="calendar2" style="max-width: 100%; margin: auto;"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">출퇴근 관리</h6>
						</div>
						<div class="card-body">
							<div class="mb-3 row align-items-center">
							    <label for="commute_start_time" class="col-auto">출근시간 :</label>
							    <div class="col">
							        <input type="text" id="commute_start_time" class="form-control form-control-sm" disabled th:value="${checkInTimeStr}">
							    </div>
							    <div class="col-auto">
							        <button id="checkInBtn" class="btn btn-success btn-sm" style="min-width: 80px;">출근</button>
							    </div>
							</div>
							
							<div class="mb-3 row align-items-center">
							    <label for="commute_end_time" class="col-auto">퇴근시간 :</label>
							    <div class="col">
							        <input type="text" id="commute_end_time" class="form-control form-control-sm" disabled th:value="${checkOutTimeStr}">
							    </div>
							    <div class="col-auto">
                                    <button id="checkOutBtn" 
                                            class="btn btn-success btn-sm" 
                                            style="min-width: 80px;"
                                            th:disabled="${checkInTimeStr == null or #strings.isEmpty(checkInTimeStr)}">
                                            퇴근
                                    </button>
							    </div>
							</div>
							<div class="d-flex align-items-center gap-4">
							</div>
						</div>
					</div>

					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex justify-content-between align-items-center">
							<h6 class="m-0 font-weight-bold text-primary">직원 정보</h6>
                            <!-- 출근 상태 -->
                            <span th:if="${#strings.isEmpty(checkInTimeStr)}"
                                  class="badge badge-danger text-uppercase">
                                미출근
                            </span>

                            <span th:if="${!#strings.isEmpty(checkInTimeStr)} 
                                         and ${#strings.isEmpty(checkOutTimeStr)}"
                                  class="badge badge-success text-uppercase">
                                출근
                            </span>

                            <!-- 퇴근 상태 -->
                            <span th:if="${!#strings.isEmpty(checkOutTimeStr)}"
                                  class="badge badge-secondary text-uppercase">
                                퇴근
                            </span>
						</div>
						<div class="card-body">
                            <th:block sec:authorize="isAuthenticated()">
							<div class="d-flex align-items-center">
								<div class="mr-3">
								    <img 
    									class="img-profile rounded-circle" 
    									style="width:70px; height:70px;"
    								 	th:src="@{/personnel/loginShowImg/{id}(id=${#authentication.principal.empId})}">
								</div>
								<div>
									<div class="text-gray-800 font-weight-bold">
									<th:block 
										th:text="${#authentication.principal.empDeptName}">
									</th:block>
									<th:block 
										th:text="${#authentication.principal.empId}">
									</th:block>
									</div>
									<div class="small text-gray-500"
										sec:authorize="isAuthenticated()">
										<span class="mr-2 d-none d-lg-inline text-gray-600 "
											th:text="${#authentication.principal.name}"></span>
									</div>
								</div>
							</div>
                            </th:block>
						</div>
					</div>

					<div class="card shadow mb-4">
						<div class="card-body">
                            <div class="card-body">
                                <div class="table-responsive d-none d-md-block">
                                  <!-- 데스크탑용 테이블 -->
                                  <table class="table table-hover text-center table-compact" id="dataTable1">
                                    <thead>
                                      <tr>
                                        <th>순 번</th>
                                        <th>공지 유형</th>
                                        <th>공지 제목</th>
                                        <th>공지 내용</th>
                                        <th>작성자</th>
                                        <th>등록일</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each="notice, stat : ${notices}">
                                        <td th:text="${stat.count}">1</td>
                                        <td th:text="${notice.notType}">인사</td>
                                        <td><a href="#" data-toggle="modal"
                                               data-target="#noticeModal"
                                               th:data-id="${notice.notId}"
                                               th:data-title="${notice.notTitle}"
                                               th:data-content="${notice.notContent}"
                                               th:data-author="${notice.employee.name}"
                                               th:data-date="${#temporals.format(notice.createAt, 'yyyy-MM-dd')}">
                                               <span th:text="${notice.notTitle}">공지 제목</span>
                                            </a></td>
                                        <td th:text="${notice.notContent}">내용</td>
                                        <td th:text="${notice.employee.name}">관리자</td>
                                        <td th:text="${#temporals.format(notice.createAt, 'yyyy-MM-dd')}">2025-09-29</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <!-- 모바일용 카드 목록 -->
                                <div class="notice-card-list d-md-none">
                                  <div class="card mb-2" th:each="notice : ${notices}">
                                    <div class="card-body p-2">
                                      <h6 class="fw-bold mb-1" th:text="${notice.notTitle}">공지 제목</h6>
                                      <p class="text-muted mb-1 small" th:text="${notice.notContent}">공지 내용</p>
                                      <div class="d-flex justify-content-between">
                                        <small th:text="${notice.employee.name}">관리자</small>
                                        <small th:text="${#temporals.format(notice.createAt, 'yyyy-MM-dd')}">2025-09-29</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 		모달 관련  -->
		<div class="modal fade" id="addScheduleModal" tabindex="-1"
			role="dialog" aria-labelledby="addScheduleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addScheduleModalLabel">간편 일정 등록</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<form th:action="@{/schedule/save}" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label for="modalAuthor">작성자</label> <input type="text"
									class="form-control" id="modalAuthor" name="authorName"
									readonly> <input type="hidden" id="modalEmpId"
									name="empId">
							</div>

							<div class="form-group">
								<label for="schType">일정 타입</label> <select class="form-control"
									id="schType" name="schType">
									<th:block th:if="${isAdmin}">
										<option value="전체">전체 일정</option>
										<option th:each="dept : ${allDepartments}"
											th:value="${dept.comDtNm}" th:text="${dept.comDtNm + ' 일정'}"></option>
									</th:block>
									<th:block th:unless="${isAdmin}">
										<option th:value="${empDeptName}"
											th:text="${empDeptName + ' 일정'}"></option>
									</th:block>
								</select>
							</div>

							<div class="form-group">
								<label for="modalTitle">일정 제목</label> <input type="text"
									class="form-control" id="modalTitle" name="schTitle" required>
							</div>

							<div class="form-group">
								<label for="modalContent">일정 내용</label>
								<textarea class="form-control" id="modalContent"
									name="schContent" rows="4"></textarea>
							</div>

							<div class="form-group">
								<label for="modalStartDate">시작일</label> <input type="date"
									class="form-control" id="modalStartDate" name="startDate"
									required>
							</div>

							<div class="form-group">
								<label for="modalEndDate">종료일</label> <input type="date"
									class="form-control" id="modalEndDate" name="endDate" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">등록</button>
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">닫기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="scheduleDetailModal" tabindex="-1"
			role="dialog" aria-labelledby="scheduleDetailModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="scheduleDetailModalLabel">일정 보기</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="readModeContent">
							<div class="form-group">
								<label>제목</label>
								<p id="detailTitle" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>작성자</label>
								<p id="detailEmpName" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>내용</label>
								<p id="detailContent" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>시작일</label>
								<p id="detailStartDate" class="form-control-static"></p>
							</div>
							<div class="form-group">
								<label>종료일</label>
								<p id="detailEndDate" class="form-control-static"></p>
							</div>
						</div>

						<form id="editScheduleForm" style="display: none;">
							<input type="hidden" id="editScheduleId" name="schId"> <input
								type="hidden" id="editSchEmpId" name="empId">
							<div class="form-group">
								<label for="editTitle">제목</label> <input type="text"
									class="form-control" id="editTitle" name="schTitle" required>
							</div>
							<div class="form-group">
								<label for="editContent">내용</label>
								<textarea class="form-control" id="editContent"
									name="schContent" rows="4"></textarea>
							</div>
							<div class="form-group">
								<label for="editStartDate">시작일</label> <input
									type="datetime-local" class="form-control" id="editStartDate"
									name="starttimeAt" required>
							</div>
							<div class="form-group">
								<label for="editEndDate">종료일</label> <input
									type="datetime-local" class="form-control" id="editEndDate"
									name="endtimeAt" required>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" id="editScheduleBtn">수정</button>
						<button type="button" class="btn btn-danger"
							id="deleteScheduleBtn">삭제</button>
						<button type="submit" form="editScheduleForm"
							class="btn btn-primary" id="saveEditBtn" style="display: none;">수정
							완료</button>
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/bootstrap/js/groupware/schedule.js}"></script>
		<script th:src="@{/bootstrap/js/attendance/check_in_out.js}"></script>
        <script th:src="@{/bootstrap/js/groupware/notice.js}"></script>
	</th:block>
</html>