name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout repo
        uses: actions/checkout@v3

      # Debug
      - name: Debug Root
        run: |
          ls -al
          ls -al erp_mes
          ls -al erp_mes/src/main/resources

      # Setup JDK
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # Build JAR
      - name: Build JAR
        run: |
          cd erp_mes
          chmod +x gradlew
          ./gradlew clean build -x test

      # Docker build
      - name: Build Docker Image
        run: docker build -t myapp ./erp_mes

      # Save to tar
      - name: Save Docker Image
        run: docker save myapp > myapp.tar

      # Copy to EC2
      - name: Upload to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "myapp.tar"
          target: "~"

      # Run on EC2
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop spring 2>/dev/null || true
            docker rm spring 2>/dev/null || true

            docker load < ~/myapp.tar

            docker run -d --name spring \
              --network=mynetwork \
              -p 8080:8080 \
              myapp
