name: Deploy to EC2

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "README.md"
      - "**/README.md"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout repo
        uses: actions/checkout@v3

      # Debug
      - name: Debug Root
        run: |
          ls -al
          ls -al erp_mes
          ls -al erp_mes/src/main/resources

      # Setup JDK
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # Build
      - name: Build JAR
        run: |
          cd erp_mes
          chmod +x gradlew
          ./gradlew clean build -x test

      # Docker build
      - name: Build Docker Image
        run: docker build -t myapp ./erp_mes

      # Save image
      - name: Save Docker Image
        run: docker save myapp > myapp.tar

      # Upload to EC2
      - name: Upload to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "myapp.tar"
          target: "~"

      # Deploy on EC2
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker network create mynetwork 2>/dev/null || true

            docker stop spring 2>/dev/null || true
            docker rm spring 2>/dev/null || true

            docker load < ~/myapp.tar

            docker run -d --name spring \
              --network=mynetwork \
              --restart=always \
              -p 8080:8080 \
              -v /home/ubuntu/upload:/upload \
              -v /home/ubuntu/personnel/img:/personnel/img \
              -e DB_URL="${{ secrets.DB_URL }}" \
              -e DB_USERNAME="${{ secrets.DB_USERNAME }}" \
              -e DB_PASSWORD="${{ secrets.DB_PASSWORD }}" \
              -e SERVICE_KEY="${{ secrets.SERVICE_KEY }}" \
              -e DATA_GO_KR_API_KEY="${{ secrets.DATA_GO_KR_API_KEY }}" \
              myapp

            docker image prune -f
