name: Deploy to EC2

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "README.md"
      - "**/README.md"

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # Checkout
      - name: Checkout repo
        uses: actions/checkout@v3

      # Debug
      - name: Debug Root
        run: |
          ls -al
          ls -al erp_mes
          ls -al erp_mes/src/main/resources

      # Setup JDK (프로젝트 요구 버전: 21)
      - name: Setup JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      # Build JAR
      - name: Build JAR
        run: |
          cd erp_mes
          chmod +x gradlew
          ./gradlew clean build -x test

      # Docker build
      - name: Build Docker Image
        run: docker build -t myapp ./erp_mes

      # Stop & Remove old container
      - name: Stop old container
        run: |
          docker stop spring || true
          docker rm spring || true

      # Run new container
      - name: Run new container
        run: |
          docker run -d --name spring \
            --restart=always \
            -p 8080:8080 \
            -v /home/ubuntu/upload:/upload \
            -v /home/ubuntu/personnel/img:/personnel/img \
            -e DB_URL="${{ secrets.DB_URL }}" \
            -e DB_USERNAME="${{ secrets.DB_USERNAME }}" \
            -e DB_PASSWORD="${{ secrets.DB_PASSWORD }}" \
            -e SERVICE_KEY="${{ secrets.SERVICE_KEY }}" \
            -e DATA_GO_KR_API_KEY="${{ secrets.DATA_GO_KR_API_KEY }}" \
            myapp

      # Cleanup docker images
      - name: Cleanup
        run: docker image prune -f
