name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # -------------------------
      # BUILD SPRING BOOT JAR
      # -------------------------
      - name: Build Spring Boot Jar
        working-directory: ./erp_mes
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      # -------------------------
      # DOCKER BUILD
      # -------------------------
      - name: Build Docker Image
        working-directory: ./erp_mes
        run: |
          docker build -t myapp .

      # -------------------------
      # SAVE DOCKER IMAGE
      # -------------------------
      - name: Save Docker Image
        run: |
          docker save myapp > myapp.tar

      # -------------------------
      # COPY TO EC2
      # -------------------------
      - name: Copy Image to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "myapp.tar"
          target: "~/"


      # -------------------------
      # SSH DEPLOY ON EC2
      # -------------------------
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop spring || true
            docker rm spring || true
            docker load < ~/myapp.tar
            docker run -d -p 8080:8080 \
              --name spring \
              -e SPRING_DATASOURCE_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1 \
              -e SPRING_DATASOURCE_USERNAME=C##TEAM1 \
              -e SPRING_DATASOURCE_PASSWORD=${{ secrets.DB_PASSWORD }} \
              myapp
